<ul class="nav justify-content-center fixed-top menu-margin" id="navbarSupportedContent">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 border border-primary" style="position: relative; top: -75px;">
          <h1 class="text-center">Coffees</h1>
          <div class="row">
            <div class="col-6 border border-primary">
              Hello
            </div>
            <div class="col-6 border border-primary">
              World
            </div>
          </div>

          <div class="row">
            <div class="col-6 border border-primary">
              Hello
            </div>

            <div class="col-6 border border-primary">
              World
            </div>
          </div>

          <div class="row">
            <div class="col-6 border border-primary">
              Hello
            </div>

            <div class="col-6 border border-primary">
              World
            </div>
          </div>
        </div>


        <div class="col-sm-3 border border-primary">
          <div class="card border-secondary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 border border-primary">
          <div class="card border-secondary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
